* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  max-width: 1269px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Navbar */
header {
  position: absolute;
  width: 100%;
  z-index: 11;
  background: rgba(0, 0, 0, 0.8);
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 50px;
}

header .inner-header .logo img {
  height: 20px;
}

header .inner-header .language-btn {
  height: 30px;
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  padding: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* Style for Section one */
.section-one {
  display: flex;
  min-height: 100vh;

}

.section-one .banner img {
  display: flex;

}

.section-one .main-title {
  position: absolute;
  bottom: 200px;
  width: 100%;
}

.section-one .main-title .title {
  color: white;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;
}

.section-one .main-title .sub-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}

/* Style for Section two */
.section-two {
  position: relative;
  padding-bottom: 100px;

}

.section-two .content .main-title {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;

}

.section-two .content .main-title .title {
  font-size: 42px;
  font-weight: 700;
  color: #1277BC;
  margin-bottom: 30px;
  max-width: 85%;

}

.section-two .content .main-title .sub-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  color: #ABACAF;
}

.section-two .content .list {
  width: 80%;
}

.section-two .content .list .item {
  text-align: justify;
  padding-top: 10px;
  line-height: 1.5;
}

.section-two .content .list .item .title {
  color: #1277BC;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.section-two .content .list .item .info {
  color: #ABACAF;
  font-weight: 400;
  line-height: 1.4;
}

.section-two .pic {
  width: 380px;
  height: 500px;
  position: absolute;
  right: 150px;
  top: 0;
  padding-right: 50px;
}

.section-two .pic img {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  object-fit: cover;

}

.section-two .pic::before {
  content: "";
  position: absolute;
  bottom: 0;
  padding: 100px;
  background-color: #1277BC;
  mix-blend-mode: color;
  z-index: 3;
}

/* Style for Section three */
.section-three {
  position: relative;
}

.section-three .banner img {
  width: 100%;
}

.section-three .list {
  position: absolute;
  bottom: 30px;
}

.section-three .main-title {
  position: absolute;
  top: 90px;
  width: 100%;
}

.section-three .main-title .title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}

.section-three .main-title .sub-title {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;

}

.section-three .list .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 50px;

}

.section-three .list .item {
  margin-bottom: 70px;
}

.section-three .list .icon {
  width: 50px;
  margin-bottom: 50px;
}

.section-three .list .item .title {
  color: white;
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.section-three .list .item .info {
  color: white;
  text-align: center;
  font-size: 19px;
  line-height: 1.4;
}

/* Style for Section three */
.section-four {
  min-height: 80vh;
  padding: 50px;

}

.section-four .main-title {
  text-align: center;
}

.section-four .main-title .title {
  color: #1277BC;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.2;
}

.section-four .main-title .sub-title {
  color: #ABACAF;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}

.section-four .list {
  position: relative;
  right: 100px;

}

.section-four .list .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;

}

.section-four .list .container .item {
  position: relative;
  width: 100%;
}

.section-four .list .container .item .item-info {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 60px;

}

.section-four .list .item {
  color: white;
}

.section-four .list .item .title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 1.4;
}

.section-four .list .item .info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  justify-content: center;
}

/*Style for Section five*/
/*.section-five {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  padding: 0 4px;*/
/*}*/
.section-five .block {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.section-five .block .block-three {
  position: relative;
  top: 100px;
  right: 1000px;
  padding-top: 300px;
}

/*.section-five .block.words {*/
/*  background-color: #1277BC;*/
/*  color: #FFF;*/
/*}*/



